{% extends 'layout.html' %} 

{% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      {% include "_messages.html" %} 
      {% if brands %}
        <h1 class="text-center mt-5">Add a Brand</h1>
        <form action="" method="POST">
          <input type="text" name="brand" class="form-control" />
          <input type="submit" value="Add brand" class="btn btn-info mt-2" />
        </form>
      {% elif categories %}
        <h1 class="text-center mt-5">Add a Category</h1>
        <form action="" method="POST">
          <input type="text" name="category" class="form-control" />
          <input type="submit" value="Add category" class="btn btn-info mt-2" />
        </form>
      {% else %}
        <h1 class="text-center mt-5">Distributor Register</h1>
        <form action="" method="POST">
          <div class="mb-3">
          Company name(କମ୍ପାନି ନାଁ): <input type="text" name="dist" class="form-control" />
          </div>
          <div class="mb-3">
            Full name of distributor(ପୁରା ନାମ): <input type="text" name="fname" class="form-control" />
          </div>
          <div class="mb-3">
            Locality(ସହର / କ୍ଷେତ୍ର): <input type="text" name="city" class="form-control" />
          </div>
          <div class="mb-3">
            Phone no(ଫୋନ୍): <input type="text" name="phno" class="form-control" />
          </div>
          <div class="mb-3">
            Aadhar card no(ଆଧାର): <input type="text" name="aadhar" class="form-control" />
          </div>
          <div class="mb-3">
            Password(ପାସୱାର୍ଡ): <input type="password" name="pass1" class="form-control" />
          </div>
          <div class="mb-3">
            Confirm password: <input type="password" name="pass2" class="form-control" />
          </div>
          <input type="submit" value="Add Distributor" class="btn btn-info mt-2" />
        </form>
      {% endif %}
    </div>
    <div class="col-md-3"></div>
  </div>
  {% include 'footer.html' %}
</div>

{% endblock content %}
