{% extends 'layout.html' %}
{% block content %}
<!-- navbar starts-->
{% include 'navbar.html' %}
<!-- navbar ends-->
<div class="container">
    <div class="row">

        {% if brand %}
            {% for b in brand.items %}
                <div class="col-md-3 mt-3">
                    <div class="card">
                        <img src="{{url_for('static', filename='images/'+b.image_1)}}" alt="{{b.name}}" class="card-img-top"
                        height="200">
                        <div class="card-body">
                            {% if b.discount>0 %}
                            <h6 style="color: #F00;" > Discount: {{b.discount}}%</h6>
                            {% else %}
                            <h6 style="color: #FFFFFF"> NO Discount</h6>
                            {% endif %}
                            <h5 class="text-center">{{b.name}}</h5>
                            <p class='text-center'>Price ₹{{b.price}}</p>
                        </div>
                        <div class="card-footer">
                            <a href="{{url_for('single_page', id=b.id)}}  " class="float-start btn btn-sm btn-primary">details</a>
                            
                            <!--Add to cart buttons-->
                            <form action="{{url_for('AddCart')}}" method="post">
                              <input type="hidden" name="product_id", value="{{b.id}}"/>
                              <button type="submit" class="btn btn-sm btn-warning float-right">Add to Cart</button>
         
                              <input type="hidden" name="quantity" id="" value="1" min="1" max=""{{b.stock}} style="width:50px;"/>
                   
                              {% set colors = b.quality.split(',') %}
                              <select name="quality" id="quality" style="visibility: hidden ;">
                                  {% for color in colors %}
                                      {% set col = color.split(':') %}
                                      <option value="{{col[0]}}">{{col[0]|capitalize}}</option>
                                  {% endfor %}
                              </select>
                          </form>

                        </div>
                    </div>
                </div>
            {% endfor %}
    </div>

    <div class="row">
      <div class="col text-center">
        {% if brand.has_prev %}
        <a href="{{url_for('get_brand', id=get_b.id, page=brand.prev_num)}}" class="btn btn-outline-info btn-sm mt-3">Prev</a>
        {% endif %}

        {% for page_num in brand.iter_pages(left_edge=1, right_edge=2, left_current=1, right_current=2) %}
          {% if page_num %}
            {% if brand.page == page_num %}
              <a href="{{url_for('get_brand', id=get_b.id, page=page_num)}}" class="btn btn-info btn-sm mt-3">{{page_num}}</a>
            {% else %}
              <a href="{{url_for('get_brand', id=get_b.id, page=page_num)}}" class="btn btn-outline-info btn-sm mt-3">{{page_num}}</a>
            {% endif %}
          {% else %}
          ...
          {% endif %}
        {% endfor %}

        {% if brand.has_next %}
        <a href="{{url_for('get_brand', id=get_b.id, page=brand.next_num)}}" class="btn btn-outline-info btn-sm mt-3">Next</a>
        {% endif %}
      </div>
    </div>

    <div class="row">
        {% elif get_cat_prod %}
          {% for get_cat in get_cat_prod.items %}
    
              <div class="col-md-3 mt-3">
                  <div class="card">
                      <img src="{{url_for('static', filename='images/'+get_cat.image_1)}}" alt="{{get_cat.name}}" class="card-img-top"
                      height="200">
                      <div class="card-body">
                          {% if get_cat.discount>0 %}
                          <h6 style="color: #F00;" > Discount: {{get_cat.discount}}%</h6>
                          {% else %}
                          <h6 style="color: #FFFFFF"> NO Discount</h6>
                          {% endif %}
                          <h5 class="text-center">{{get_cat.name}}</h5>
                          <p class='text-center'>Price ₹{{get_cat.price}}</p>
                      </div>
                      <div class="card-footer">
                          <a href="{{url_for('single_page', id=get_cat.id)}}" class="float-start btn btn-sm btn-primary">details</a>
                          <!--Add to cart buttons-->
                          <form action="{{url_for('AddCart')}}" method="post">
                            <input type="hidden" name="product_id", value="{{get_cat.id}}"/>
                            <button type="submit" class="btn btn-sm btn-warning float-right">Add to Cart</button>
      
                            <input type="hidden" name="quantity" id="" value="1" min="1" max=""{{get_cat.stock}} style="width:50px;"/>
                
                            {% set colors = get_cat.quality.split(',') %}
                            <select name="quality" id="quality" style="visibility: hidden ;">
                                {% for color in colors %}
                                    {% set col = color.split(':') %}
                                    <option value="{{col[0]}}">{{col[0]|capitalize}}</option>
                                {% endfor %}
                            </select>
                        </form>
                      </div>
                  </div>
              </div>
          {% endfor %}
    </div>

    <div class="row">
      <div class="col text-center">
        {% if get_cat_prod.has_prev %}
        <a href="{{url_for('get_category', id=get_cat.id, page=get_cat_prod.prev_num)}}" class="btn btn-outline-info btn-sm mt-3">Prev</a>
        {% endif %}

        {% for page_num in get_cat_prod.iter_pages(left_edge=1, right_edge=2, left_current=1, right_current=2) %}
          {% if page_num %}
            {% if get_cat_prod.page == page_num %}
              <a href="{{url_for('get_category', id=get_cat.id, page=page_num)}}" class="btn btn-info btn-sm mt-3">{{page_num}}</a>
            {% else %}
              <a href="{{url_for('get_category', id=get_cat.id, page=page_num)}}" class="btn btn-outline-info btn-sm mt-3">{{page_num}}</a>
            {% endif %}
          {% else %}
          ...
          {% endif %}
        {% endfor %}

        {% if get_cat_prod.has_next %}
        <a href="{{url_for('get_category', id=get_cat.id, page=get_cat_prod.next_num)}}" class="btn btn-outline-info btn-sm mt-3">Next</a>
        {% endif %}
      </div>
    </div>

    <div class="row">
        {% else %}        
            {% for product in products.items %}
                <div class="col-md-3 mt-3">
                    <div class="card">
                        <img src="{{url_for('static', filename='images/'+product.image_1)}}" alt="{{product.name}}" class="card-img-top"
                        height="200">
                        <div class="card-body">
                            {% if product.discount>0 %}
                            <h6 style="color: #F00;" > Discount: {{product.discount}}%</h6>
                            {% else %}
                            <h6 style="color: #FFFFFF"> NO Discount</h6>
                            {% endif %}
                            <h5 class="text-center">{{product.name}}</h5>
                            <p class='text-center'>Price ₹{{product.price}}</p>
                        </div>
                        <div class="card-footer">
                            <a href="{{url_for('single_page', id=product.id)}}" class="float-start btn btn-sm btn-primary">details</a>
                            <!--Add to cart buttons-->
                            <form action="{{url_for('AddCart')}}" method="post">
                              <input type="hidden" name="product_id", value="{{product.id}}"/>
                              <button type="submit" class="btn btn-sm btn-warning float-right">Add to Cart</button>
        
                              <input type="hidden" name="quantity" id="" value="1" min="1" max=""{{product.stock}} style="width:50px;"/>
                  
                              {% set colors = product.quality.split(',') %}
                              <select name="quality" id="quality" style="visibility: hidden ;">
                                  {% for color in colors %}
                                      {% set col = color.split(':') %}
                                      <option value="{{col[0]}}">{{col[0]|capitalize}}</option>
                                  {% endfor %}
                              </select>
                          </form>
                        </div>
                    </div>
                </div>
            {% endfor %}
    </div>
    

    <div class="row">
      <div class="col text-center">
        {% if products.has_prev %}
        <a href="{{url_for('home', page=products.prev_num)}}" class="btn btn-outline-info btn-sm mt-3">Prev</a>
        {% endif %}

        {% for page_num in products.iter_pages(left_edge=1, right_edge=2, left_current=1, right_current=2) %}
          {% if page_num %}
            {% if products.page == page_num %}
              <a href="{{url_for('home', page=page_num)}}" class="btn btn-info btn-sm mt-3">{{page_num}}</a>
            {% else %}
              <a href="{{url_for('home', page=page_num)}}" class="btn btn-outline-info btn-sm mt-3">{{page_num}}</a>
            {% endif %}
          {% else %}
          ...
          {% endif %}
        {% endfor %}

        {% if products.has_next %}
        <a href="{{url_for('home', page=products.next_num)}}" class="btn btn-outline-info btn-sm mt-3">Next</a>
        {% endif %}
      </div>
    </div>
    {% endif %}
    
</div>
{% endblock content %}