{% extends 'layout.html' %} {% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      {% include "_messages.html" %}
      {% if updatebrand %}
      <h1 class="text-center mt-5">Add a brand</h1>
      <form action="" method="POST">
        <input type="text" name="brand" class="form-control" value="{{updatebrand.name}}"/>
        <input type="submit" value="Update brand" class="btn btn-info mt-2" />
        <button type="button" class="btn btn-warning mt-2" onclick="window.history.back();">Cancel</button>
    </form>
      
      {% else %}
      <h1 class="text-center mt-5">Add a category</h1>
      <form action="" method="POST">
        <input type="text" name="category" class="form-control" value="{{updatecat.name}}"/>
        <input type="submit" value="Update category" class="btn btn-info mt-2" />
        <button type="button" class="btn btn-warning mt-2" onclick="window.history.back();">Cancel</button>
      </form>
      {% endif %}
    </div>
    <div class="col-md-3"></div>
  </div>
</div>

{% endblock content %}
